@{
    Layout = "_Layout";
}
<div class="container">
    <div class="border p-3 w-50 mx-auto shadow p-3 mb-5 bg-white rounded">
        <h2 class="text-info">Email verification <i class="far fa-check-circle"></i></h2>
        <hr />
        <small>Click on the link to confirm your account</small>
        <p>We have sent confirmation link to your Email address !</p>
        <hr />
        <h6>Didn't recieve Email? <a asp-action="SendEmailAgain">Send again</a></h6>
    </div>
</div>